asn1crypto==0.24.0
autopep8==1.4.4
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-heroku==0.3.1
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
oauthlib==3.0.1
pep8==1.7.1
Pillow==6.0.0
psycopg2==2.7.6.1
pycodestyle==2.5.0
pycparser==2.19
pyOpenSSL==19.0.0
PyQt5==5.13.2
PyQt5-sip==12.7.0
PySocks==1.7.0
python-dateutil==1.5
python-decouple==3.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
stripe==2.27.0
urllib3==1.24.2
whitenoise==4.1.3
